FlagEmbedding==1.2.10
llama-index
llama-index-vector-stores-milvus
llama-index-embeddings-huggingface
llama-index-postprocessor-flag-embedding-reranker
llama-index-llms-ollama
pdf2image
numpy<2.0.0,>=1.24.0
openai==1.35.12
pandas==2.2.2
Pillow==10.4.0
pymilvus>=2.4.0
PyPDF2==3.0.1
ragas==0.1.9
streamlit==1.36.0
torch==2.0.1+cu117
tqdm==4.66.4
transformers==4.41.0
unstructured==0.14.2
